<header class="page-header">
  <a href="#">Home</a>

  <nav aria-labelledby="nav-hdg-site">
    <h2 id="nav-hdg-site">
      Me
    </h2>
    <a href="/contact">Contact</a>
    <a href="/feed.xml">RSS</a>
  </nav>

  <nav aria-labelledby="nav-hdg-writings">
    <h2 id="nav-hdg-site">
      Writings
    </h2>
    <a href="/writings/front-end">Front End</a>
    <a href="/life">Life</a>
    <a href="/other">Other</a>
  </nav>


  <nav aria-labelledby="nav-hdg-projects">
    <h2 id="nav-hdg-projects">
      Projects
    </h2>
    <a href="/projects/slidewriter">Slidewriter</a>
    <a href="/projects/pdxstolen">PDX/Stolen</a>
    <a href="/projects/strangegame">A Strange Game</a>
  </nav>

  <nav aria-labelledby="nav-hdg-elsewhere">
    <h2 id="nav-hdg-elsewhere">
      Elsewhere
    </h2>
    <a href="/posts">GitHub</a>
    <a href="/posts">LinkedIn</a>
    <a href="/posts">Twitter</a>
  </nav>


</header>
