<header class="page-header">
  <a class="home" href="/">Home</a>

  <nav aria-labelledby="nav-hdg-site">
    <h2 id="nav-hdg-site">
      Me
    </h2>
    <a href="/assets/todd_lemoine_resume.pdf">Résumé</a>
    <a href="/contact">Contact</a>
  </nav>

  <nav aria-labelledby="nav-hdg-projects">
    <h2 id="nav-hdg-projects">
      Projects
    </h2>
    <a href="/projects/slidewriter">Slidewriter</a>
    <a href="/projects/pdxstolen">PDX/Stolen</a>
    <a href="/projects/strangegame">A Strange Game</a>
  </nav>

  <nav aria-labelledby="nav-hdg-elsewhere">
    <h2 id="nav-hdg-elsewhere">
      Elsewhere
    </h2>
    <a href="/posts">GitHub</a>
    <a href="/posts">LinkedIn</a>
    <a href="/posts">Twitter</a>
  </nav>


</header>
