:root {
    --font-family: 'Times', 'Times New Roman', serif;
    --font-size: 16px;
    --primary-text-color: hsl(0, 0%, 5%);
    --primary-link-color: blue;
    --highlight-background-color: rgb(253, 249, 11);
}

a {
    color: var(--primary-link-color);
}

body {
    line-height: 1.6;
    color: var(--primary-text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 0;
    padding: 0;
}

main {
    padding: 3.5rem 1rem 1rem 1rem;
    max-width: 600px;
    margin-bottom: 4rem;
}

nav h2 {
    margin: 0;
    font-size: 1.15rem;
}

header nav {
    margin: 0.5rem 0;
}
