<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>

  <!-- Meta tags for SEO and social sharing -->
  <link rel="canonical" href="https://toddlemoine.net/" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="robots" content="index,follow" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta name="twitter:card" content="summary" />

  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}" />
</head>

<body>
  {% include nav.html %}

  <main>
    {{ content }}
  </main>
</body>

</html>
